@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* fundo da pagina */
#weekBackground{
    display: grid;
    background: linear-gradient(to right, rgba(255, 153, 51, 0.2), rgba(255, 255, 255, 1));
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}

#cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    width: 120px;
    height: auto;
    gap: 100px;
    flex-direction: row;
    padding: 0 0 0 10rem;
}

/* caixa do calendario */
#card_calendario{
    border: 2px solid rgba(255, 163, 86, 1);
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 80px;
    border-radius: 40px;
    width: 550px;
    height: 400px;
    align-items: center;
}

/* caixa dos horarios */
#card_horarios{
    border: 2px solid rgba(255, 163, 86, 1);
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 80px;
    border-radius: 40px;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* texto "selecionar data e hora"*/
#h1_data{
    font-size: 24px;
    margin: 30px;
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: -65px;
    margin-bottom: -25px;
}

/* texto abril de 2025 */
.mes_ano{
    font-size: 28px;
    border-bottom: 2px solid rgba(255, 163, 86, 0.85);
    padding-bottom: 1px;
    position: static;
    outline: none !important;
    box-shadow: none !important;
}


/* DIAS DA SEMANA (dom, seg, ter..) */
.weekday{
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    width: 50px; 
    margin-bottom: 5px;
}

/* DIAS DO MES (1,2,3..) e HORARIO DISPONIVEL*/
#td{
    border: 1px solid #ffffff;
    height: 50px;
    width: 50px;
    font-size:xx-large;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: border 0.1s;
    background-color: 0.2s;
    text-align: center;
}

/* destaca o ponto onde o cursor está passando - DIAS DO MES e HORARIO DISPONIVEL*/
#td:hover{
    border: 3px solid rgba(255, 117, 1, 1); /* Borda mais grossa e visível */
    background-color: rgba(255, 117, 1, 0.1); /* Opcional: mudar o fundo para destacar */
}

/* .available_hours, .selected_data{
    bottom: 90px;
}

#week_side{
    left: 10px;
    height: 200px;
} */

/* dia selecionado no calendario */
.selected_day{
    border: 3px solid rgba(255, 117, 1, 1); /* Borda mais grossa e visível */
    background-color: rgba(255, 117, 1, 0.1); /* Opcional: mudar o fundo para destacar */
}

/* ------------------------------------ card de horarios ---------------------------------------- */


/* botao de proximo mes*/
#prev_button:hover, #next_button:hover{
    background-color: rgba(255, 163, 86, 0.85);
}

#prev_button, #next_button{
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 163, 86, 1);
    border-radius: 50px;
    position: static;
    text-align: center;
    top: -100%;
    margin: 0;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 32px;
}

.selected_data{
    top: 40px;
    width: 750px;
    margin: 30px auto;
}

/* datas disponiveis */
#available_times {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#available_times table {
    border-spacing: 15px 15px;
}

#available_times td {
    justify-content: center;
    align-items: center;
}

/* circulo onde ficam os horarios disponiveis */
.available_hours {
    width: 80px;
    height: 35px;
    border-radius: 35px;
    border: 2px solid rgba(255, 117, 1, 0.5);
    font-size: 16px;
    transition: border 0.1s, background-color 0.2s;
    cursor: pointer;
    text-align: center;
}
/* horario selecionados */
.available_hours.selected {
    border: 3px solid rgba(255, 117, 1, 1); /* Borda mais grossa e visível */
    background-color: rgba(255, 117, 1, 0.1); /* Opcional: mudar o fundo para destacar */
}

#week_side table, #variable_hours table{
    border-spacing: 12px 3px; /* mantemos esse espaçamento entre células */
    width: 100%;
    border-collapse: separate;
}

/* dia indisponivel */
.disabled_day {
    color: #ccc;
    pointer-events: none;
}

.next_month_day {
    color: #999;
}
