@charset "UTF-8";

*{
    margin: 0;
    font-family: arial;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}


#weekBackground{
    display: flex;
    background: linear-gradient(to right, rgba(255, 153, 51, 0.2), rgba(255, 255, 255, 1));
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

#week_page{
    display: flex;
    width: 1150px;
    height: 510px;
    border: 2px solid rgba(255, 163, 86, 1);
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px 0 0 0 ;
    border-radius: 30px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
div table h1{
    font-size: 48px;
    font-family: sans;
}
div table h2{
    font-size: 32px;
    text-transform: uppercase;
}

/* DIAS DA SEMANA */
#th{
    font-size: x-large;
    height: 60px;
    width: 70px;
    font-style: italic;
    padding-top: 30px;

}

/* DIAS DO MES */
#td{
    border: 1px solid #ffffff;
    height: 60px;
    width: 60px;
    font-size:xx-large;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: border 0.1s, background-color 0.2s;
}
/* destaca o ponto onde o cursor está passando*/
#td:hover{
    border: 3px solid rgba(255, 117, 1, 1); /* Borda mais grossa e visível */
    background-color: rgba(255, 117, 1, 0.1); /* Opcional: mudar o fundo para destacar */
}

.main_title{
    /* LINHA ENTRE O MÊS E OS DIAS DA SEMANA */
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 25px;
    /* Aqui será feito a centralização do calendário na pagina */
    position: absolute;
    width: 750px;   
    margin: -10px;
    left: calc(50% - 365px);

}

#vertical_line{
    position: absolute;
    height: 550px;
    bottom: 0px;
    border-right: 3px solid rgba(0, 0, 0, 0.4);
    text-align: center;
    left: calc(50% - 280px);
}

#week_side, .available_hours, .selected_data{
    left: 150px;
}

#week_side{
    height: 200px;
}

.selected_day{
    border: 3px solid rgba(255, 117, 1, 1); /* Borda mais grossa e visível */
    background-color: rgba(255, 117, 1, 0.1); /* Opcional: mudar o fundo para destacar */
}

/* botao do horario selecionado*/

#prev_button:hover, #next_button:hover{
    background-color: #cbd1d2;
}

#prev_button, #next_button{
    background-color: white;
    border-color: white;
    border-radius: 50px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 32px;
    bottom: 85px;
}
#prev_button{
    right: 320px;
}
#next_button{
    left: 320px;
}

.selected_data{
    top: 40px;
    width: 750px;
    margin: 30px auto;
    
}

#available_times {
    padding: 20px;
    padding-top: 75px;
}

.available_hours {
    width: 100px;
    height: 35px;
    border-radius: 35px;
    border: 3px solid rgba(255, 117, 1, 0.5);
    padding: 13px;
    border-spacing: 20px;
    transition: border 0.1s, background-color 0.2s;
    cursor: pointer;
}

.available_hours.selected {
    border: 3px solid rgba(255, 117, 1, 1); /* Borda mais grossa e visível */
    background-color: rgba(255, 117, 1, 0.1); /* Opcional: mudar o fundo para destacar */
}

#week_side table, #variable_hours table{
    display: flex;
    border-spacing: 12px 3px;
}

#logo_side{
    position: absolute;
    top: 350px;
    width: 250px;
    left: calc(50% - 550px);
}

#logo{
    width: 250px;
    bottom: 180px;
}

#vix_city_hall{
    display: fixed;
    width: 150px;
    left: 45%;
    top: 100px;
}

.disabled_day {
    color: #ccc;
    pointer-events: none;
}

.next_month_day {
    color: #999;
}