body{
    background: linear-gradient(to right, rgba(255, 153, 51, 0.2), rgba(255, 255, 255, 1));
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}

#form-title-individual{
    margin-top: 2rem;
    padding: 1rem;
}

#hr_form{
    width: 500px;
    max-width: 100%;
    border-top: 2px solid rgb(190, 190, 190);
    margin: 0 auto;
}

.Form_individual{
    display: grid;  
    align-items: flex-start;   
    padding: 4rem;
}

.Form_individual .E-mail, .Nome, .CPF, .Telefone, .CEP{
    text-align: left;
}

.caixa_E-mail, .caixa_Nome, .caixa_CPF, .caixa_Telefone, .caixa_CEP{
    background-color: white;
    border-radius: 30px;
    border: none;
    padding: 0.5rem;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

form > .botao_continuar_individual{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(255, 117, 1, 1);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 7rem;
    margin: 5rem;
    display: block;
    cursor: pointer;
}
.botao_continuar_individual:hover {
    background-color: rgb(214, 80, 3);
}