header{
    background-color: rgba(255, 117, 1, 0.35);
    width: 100vw;
    margin: 0;
    padding: 0;
}

#logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between; /* separa logo à esquerda e nav à direita */
    padding: 0rem 2rem 0rem 2rem; /* reduzido um pouco */
    flex-wrap: wrap; /* para responsividade */
    align-content: center;
}

#logo-desenho{
    height: 100px;
    width: auto;
    object-fit: contain;
    margin-right: 2rem;
    position: relative;
    margin-right: 1.5rem;
}

#barra_navegacao{
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

header nav a {
    color: black;
    font-weight: 600; /*negrito*/
    padding: 0px 12px;
    text-decoration: none; /*decoração do texto: linhas e tal*/
    
}

/* Responsivo */
@media (max-width: 768px) {
    #logo-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    #barra_navegacao {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-top: 1rem;
    }

    header nav a {
        padding: 4px 0;
    }
}