@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body, html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 26px;
    letter-spacing: 1px;
    color: rgb(63, 55, 55); 
    margin-bottom: 4px;
}

h2 {
    font-size: 16px;
    color: rgba(63, 55, 55, 0.8); 
    margin-top: 0;
}

/* FUNDO */
#background {
    display: flex;
    background: linear-gradient(to right, rgba(255, 153, 51, 0.2), rgba(255, 255, 255, 1));
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* CARDS */
.box{
    display: flex;
    /* Define o espaço entre os itens flexíveis dentro do contêiner. */ 
    gap: 60px;  
    /* Alinha os itens horizontalmente ao centro do contêiner. */  
    justify-content: center; 
    /* Permite que os itens se movam para a linha seguinte se não houver espaço suficiente na linha atual. */
    flex-wrap: wrap;   
    padding: 150px;
}

.left, .center, .right {
    display: flex;
    border: 2px solid rgba(255, 163, 86, 1);
    background-color: rgba(255, 255, 255, 0.85);
    height: 480px;
    width: 320px;
    border-radius: 30px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card_image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 20px;
    display: block;
}

/* BOTÃO */
.button {
    background-color: rgba(255, 117, 1, 0.7);
    border: 1px solid rgba(255, 117, 1, 1);
    color: white;
    border-radius: 50px;
    width: 50%;
    height: 10%;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;

    margin-top: auto;
}

.button:hover {
    background-color: rgba(255, 117, 1, 1);
}
